In [1]:
profit=int(input("enter value of profit?"))
rate=int(input("enter value of rate?"))
time=int(input("enter value of time?"))
simpleinterest=(profit*rate*time)/100
print(simpleinterest)

enter value of profit?56
enter value of rate?46
enter value of time?45
1159.2

In [2]:
a=input()
b=input()
a+b

2
3

'23'

In [3]:
a=10
print(id(a))
b=10
id(b)

1941259577936

1941259577936

In [4]:
f=int(input())
c=(f-32)*5/9
c

77

25.0

In [5]:
x=10
y=5
print("x>y is",x>y)

x>y is True

In [6]:
x=True
y=False
print(x and y)
print("x or y is",x or y)
print("not x is", not x)

False
x or y is True
not x is False

### using logical operators

In [8]:
a=int(input())
b=int(input())
if a>10 and b>10:
    print("a and b are greater")
else:
    print(" a and b are not greater")

8
9
 a and b are not greater

### which is greater number among three numbers

In [9]:
a=int(input())
b=int(input())
c=int(input())
if a>=b and a>=c:
    print("a is greater")
elif b>=c and b>=a:
    print("b is greater")
else:
    print("c is greater")

9
0
8
a is greater

### nested if

In [10]:
n=int(input())
if n%2==0:
    print("n is even")
    if n==0:
        print("n is zero")
else:
    print("n is odd")

8
n is even

In [12]:
n=int(input())
m=int(input())
if n%2==0:
    print("n is even")
    if m%2==0:
        print("i")
    else:
        print("j")
else:
    print("k")

8
9
n is even
j

### problem statement:given an integer n,find sum of first n natural numbers

In [14]:
n=int(input())
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

9
45

### printing a number n times

In [ ]:
n=int(input())
count=1
while count<=n:
    print("2")
    count=count+1
print()

### printing first n natural numbers

In [17]:
n=int(input())
count=1
while count<=n:
    print(count)
    count=count+1

4
1
2
3
4

###  PRIMALITY CHECKING

In [1]:
n=int(input())
i=2
flag = False
while i<n:
    if n%i==0:
        flag =True
    i=i+1
if flag:
    print("n is not prime")
else:
    print("n is prime")

6
n is not prime