In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### first n natural numbers

In [3]:
n=int(input())
i=1
while(i<=n):
    print(i)
    i=i+1

5
1
2
3
4
5

In [7]:
n=int(input())
i=2
while(i<=n):
    if(n%i==0):
        print("n is not prime")
        break
    else:
        print("n is prime")
        break
    i=i+1

2
n is not prime

In [11]:
n=int(input())
i=2
while(i<=n):
    j=2
    flag=False
    while(j<i):
        if(i%j==0):
            flag=True
        j=j+1
    if not(flag):
        print(i)
        
    i=i+1b

23
2
3
5
7
11
13
17
19
23

### reverse of a number

In [13]:
n=int(input())
rev=0
while(n>0):
    m=n%10
    rev=rev*10+m
    n=n//10
print(rev)

123
321

### print natural numbers using for loop

In [15]:
n=int(input())
for i in range(1,n+1):
    print(i)

4
1
2
3
4

### strings

In [3]:
s='helloworld'
for i in range(len(s)):
    print(s[i])

h
e
l
l
o

w
o
r
l
d

In [10]:
s1='kavya'
s2='gaja'
print(s1+s2)

kavyagaja

In [24]:
s='kavya''gaja'
print(s)
s1='kavya'
s2='gaja'
print('hello\nworld')
print('hello\nworld')
s=('hello'
  "world")
print(s)

kavyagaja
hello
world
hello
world
helloworld

### string operations

In [14]:
s1='kavya'
s2='gaja'
print(s1*2)
print(s2*2+s1)

for i in range (len(s1)):
    print(s1[i])
print(s1[:4])
print(s1[::])
print(s1[2:4])
print(s1[1:3])
print(s1[::-1])

kavyakavya
gajagajakavya
k
a
v
y
a
kavy
kavya
vy
av
ayvak

### printing numbers from n to 1

In [17]:
n=int(input())
for i in range(n,0,-1):
    print(i)

6
6
5
4
3
2
1

### prnting prime using for

In [20]:
n=int(input())
for i in range(1,n+1):
    if(i%3==0):
        print(i)

23
3
6
9
12
15
18
21

### functions

In [29]:
def mul (a,b,c):
    return(a*b*c)
mul(2,3,4)

24

In [30]:
mul(1,2,3)

6

### list operations

In [77]:
a=[1,2,3,4]
print(a[::-1])
print(a[1:])
print(a[:2])
print(sum(a))
print(min(a))
print(max(a))
print(a.pop(2))
print(a.pop())
print(a)
del a[1]
print(a)

[4, 3, 2, 1]
[2, 3, 4]
[1, 2]
10
1
4
3
4
[1, 2]
[1]

### looping on lists

In [78]:
l=[5,8,7,6,9]
for i in l:
    print(i)

5
8
7
6
9

In [83]:
l=[5,8,7,6,9]
length=len(l)
for i in range(length):
    print(l[i])

5
8
7
6
9

### checking numbers in list even or odd

In [85]:
k=[1,5,8,4,7]
index=0
while(index<len(k)):
    if(k[index]%2==0):
        print("even")
    else:
        print('odd')
    index=index+1

odd
odd
even
even
odd

In [87]:
list=['kavya','navya','santhu','ramesh','saradha']
index=0
while(index<len(list)):
      a=len(list[index])
      print(a)
      index=index+1

5
5
6
6
7

In [88]:
list=[5,6.4,'kavya',1+6j]
for i in range(len(list)):
    print(type(list[i]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

### taking lists as user inputs

In [1]:
list=[]
n=int(input())
for i in range(n):
    m=int(input())
    list.append(m)
print(list)

2
1
6
[1, 6]

In [8]:
a=input().split(" ")
print(a)

2 5 8 88
['2', '5', '8', '88']

### linear search

In [15]:
list=[int(x) for x in input().split()]
target_value=int(input())
for i in list:
    if(i==target_value):
        print(list.index[i])
else:
    print('-1')

3 5 8 9
8

TypeError: 'builtin_function_or_method' object is not subscriptable

### binary search

In [23]:
def binarySearch(array, x, low, high):
#Repeat until the pointers low and high meet each other
    while low <= high:
        mid = low + (high - low) #Middle Index
        if array[mid] == x: #Element Found
            return mid
        elif array[mid] < x: #x is on the right side
            low = mid + 1
        else: #x is on the left side
            high = mid - 1
    return -1 #Element is not found
array = [3, 5, 10, 7, 4, 8, 9]
x = 4
result = binarySearch(array, x, 0, len(array)-1)
if result != -1: #If element is found
    print("Element is present at index " + str(result))
else: #If element is not found
    print("Not found")

Element is present at index 4

### prime using functions

In [47]:

def prime(n):
    for i in range(2,n):
        if(n%i==0):
            print("not prime")
            break
    else:
            print("prime")
prime(4)

not prime

In [48]:
prime(6)

not prime

In [23]:
n=int(input())
for i in range(2,n+1):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

21
2
3
5
7
11
13
17
19

### in operator

In [1]:
3 in [1,2,3]

True

### check prime using for loop

In [2]:
n=int(input())
isprime=True
if (n>1):
    for i in range(2,n):
        if (n%i==0):
            isprime=False
            break
if(n<=1):
    print("is not prime")
elif (isprime):
    print('is prime')
else:
    print("is not prime")
print(type(n))

5
is prime
<class 'int'>

### break statement

In [6]:
for val in "string":
    if val=='i':
        break
    print(val)
print("end")

end

### continue statement

In [7]:
for val in "string":
    if (val=='i'):
        continue
    print(val)
print("end")

s
t
r
n
g
end

### pass statement

In [9]:
n=int(input())
if(n%2==0):
    print("even")
else:
    pass

8
even

### functions

In [10]:
def mul(a,b):
    return(a*b)

In [11]:
mul(3,4)

12

### global variable

In [12]:
x=1
def a():
    print(x)
a()

1

In [21]:
a=2
def d():
    print(a)
d()

2

### local variable

In [16]:
def b():
    y=1
b()
print(y)

NameError: name 'y' is not defined

### local and global both

In [24]:
k=1
def c():
    k=5
    print("local:",k)
c()
print("global:",k)

local: 5
global: 1

### python default parameters

In [26]:
def greet(name,wish="happy birthday"):
    print("hello",name+','+wish)
greet("ram",wish="happy new year")
greet("sita")

hello ram,happy new year
hello sita,happy birthday

In [27]:
def greetings(name,wishes="congratulations"):
    print('hello',name+","+wishes)
greetings("kavya")
greetings('ramesh',wishes="best ofluck")

hello kavya,congratulations
hello ramesh,best ofluck

In [10]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n):
        print(n,end="")
        j=j+1
    print()
    i=i+1

4
4444
4444
4444
4444

In [11]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n):
        print(i,end="")
        j=j+1
    print()
    i=i+1

5
11111
22222
33333
44444
55555

In [15]:
n=int(input())
i=1
while (i<=n):
    j=1
    p=i
    while(j<=n):
        print(p,end="")
        j=j+1
        p=p+1
    print()
    i=i+1

5
12345
23456
34567
45678
56789

In [16]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n):
        print(n-j+1,end="")
        j=j+1
    print()
    i=i+1

5
54321
54321
54321
54321
54321

In [17]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=i):
        print(i,end="")
        j=j+1
    print()
    i=i+1

5
1
22
333
4444
55555

In [19]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1
    print()
    i=i+1

5
1
12
123
1234
12345

In [23]:
n=int(input())
i=1
p=1
while (i<=n):
    j=1
    while(j<=i):
        print(p,end="")
        j=j+1
        p=p+1
    print()
    i=i+1

5
1
23
456
78910
1112131415

In [24]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n):
        print(chr(64+j),end="")
        j=j+1
    print()
    i=i+1

5
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [26]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n):
        print(chr(64+i),end="")
        j=j+1
    print()
    i=i+1

5
AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [27]:
n=int(input())
i=1
while (i<=n):
    j=1
    p=i
    while(j<=n):
        print(chr(64+p),end="")
        j=j+1
        p=p+1
    print()
    i=i+1

4
ABCD
BCDE
CDEF
DEFG

In [28]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=i):
        print(chr(64+j),end="")
        j=j+1
    print()
    i=i+1

4
A
AB
ABC
ABCD

In [30]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=i):
        print(chr(64+i),end="")
        j=j+1
    print()
    i=i+1

4
A
BB
CCC
DDDD

In [ ]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=2*n):
        while()
       print(chr(64+j),end="")
        j=j+1
    print()
    i=i+1

In [31]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n-i+1):
        print("*",end="")
        j=j+1
    print()
    i=i+1

4
****
***
**
*

In [33]:
n=int(input())
i=1
while (i<=n):
    j=1
    while(j<=n):
        if(j<=n-i):
            print(" ",end="")
        else:
            print("*",end="")
        j=j+1
    print()
    i=i+1

4
   *
  **
 ***
****

In [2]:
 n=int(input())
i=1
while (i<=n):
    s=1
    while(s<=n-i):
        print(" ",end="")
        s=s+1
    num=1
    while(num<=i):
        print(num,end="")
        num=num+1
    num=i-1
    while(num>=1):
        print(num,end="")
        num=num-1
    print()
    i=i+1

4
   1
  121
 12321
1234321

### functions

In [3]:

def add(a,b):
    return(a+b)

6
7

In [5]:
add(5,9)

14

### prime numbers

In [5]:
n=int(input())
i=2
while(i<=n):
    j=2
    flag=False
    while(j<i):
        if(i%j==0):
            flag=True
        j=j+1
    if not(flag):
        print(i)
    i=i+1

8
2
3
5
7

In [7]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print("*",end="")
        j=j+1
    i=i+1
    print()

4
****
****
****
****

In [2]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n,end="")
        j=j+1
    i=i+1
    print()

5
55555
55555
55555
55555
55555

In [3]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(i,end="")
        j=j+1
    i=i+1
    print()

4
1111
2222
3333
4444

In [5]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n-j+1,end="")
        j=j+1
    i=i+1
    print()

5
54321
54321
54321
54321
54321

In [6]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n-i+1,end="")
        j=j+1
    i=i+1
    print()

4
4444
3333
2222
1111

In [11]:
n=int(input())
i=1
while(i<=n):
    j=1
    p=i
    while(j<=n):
        print(p,end="")
        j=j+1
        p=p+1
    i=i+1
    print()

5
12345
23456
34567
45678
56789

In [ ]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n,end="")
        j=j+1
    i=i+1
    print()

In [12]:
n=int(input())
i=1
while(i<=n):
    j=1
    p=i
    while(j<=n):
        print(p,end="")
        j=j+1
        p=p+1
    i=i+1
    print()

5
10-1-2-3
210-1-2
3210-1
43210
54321

In [13]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i,end="")
        j=j+1
    i=i+1
    print()

4
1
22
333
4444

In [14]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1
    i=i+1
    print()

5
1
12
123
1234
12345

In [6]:
n=int(input())
i=1
p=1
while(i<=n):
    j=1
    while(j<=i):
        print(p,end="")
        j=j+1
        p=p+1
    i=i+1
    print()

4
1
23
456
78910

In [10]:
n=int(input())
i=1
while(i<=n):
    j=1
    p=i
    while(j<=i):
        print(p,end="")
        j=j+1
        p=p+1
    i=i+1
    print()

4
1
23
345
4567

In [11]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(chr(64+j),end="")
        j=j+1
    i=i+1
    print()

4
ABCD
ABCD
ABCD
ABCD

In [12]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(chr(64+i),end="")
        j=j+1
    i=i+1
    print()

4
AAAA
BBBB
CCCC
DDDD

In [14]:
n=int(input())
i=1
while(i<=n):
    j=1
    p=i
    while(j<=n):
        print(chr(64+p),end="")
        j=j+1
        p=p+1
    i=i+1
    print()

4
ABCD
BCDE
CDEF
DEFG

In [15]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n-i+1):
        print("*",end="")
        j=j+1
    i=i+1
    print()

4
****
***
**
*

In [ ]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n,end="")
        j=j+1
    i=i+1
    print()

### printing all prime numbers

In [2]:
n=int(input())
i=2
while(i<=n):
    j=2
    flag=False
    while(j<i):
        if(i%j==0):
            flag=True
        j=j+1
    if not (flag):
        print(i)
    i=i+1

7
2
3
5
7

### sum of n numberd

In [6]:
n=int(input())
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
print(sum)

6
21

### sum of even numbers

In [7]:
n=int(input())
i=2
sum=0
while(i<=n):
    sum=sum+i
    i=i+2
print(sum)

6
12

### reverse of a number

In [8]:
n=int(input())
rev=0
while(n>0):
    a=n%10
    rev=rev*10+a
    n=n//10
print(rev)

1234
4321

### reversed pattern

In [9]:
3in[1,2,3]

True

### print n natural numbersusing for loop

In [13]:
n=int(input())
for i in range (1,n+1):
    print(i)

7
1
2
3
4
5
6
7

### print numbers from n to 1

In [15]:
n=int(input())
for i in range(n,0,-1):
    print(i)

6
6
5
4
3
2
1

### printing all prime upto n using for break

In [19]:
n=int(input())
for i in range(2,n+1):
    k=2
    for k in range (2,i):
        if(i%k==0):
            break
    else:
        print(i)

7
2
3
5
7

In [25]:
n=int(input())
for i in range(1,n+1):
    for k in range(n-i):
        print(" ",end="")
    for j in range(i,2*i-1):
        print(j,end="")
    for j in range (2*i-2,i-1,-1):
        print(j,end="")
    print()

5

   22
  3443
 456654
56788765

### practice

In [2]:
abc=13
print(abc)
type(abc)

13

int

In [7]:
Kav_ya=1
print(Kav_ya)

1

In [11]:
x="abcd"
print(x)
print(type(x))
x=10
print(x)
print(type(x))

abcd
<class 'str'>
10
<class 'int'>

In [14]:
a=10
b=5
c=a/b
d=a//b
print(c*d)

4.0

In [15]:
a=input("name:")
print(a)

name:kavya
kavya

In [16]:
a=int(input())
b=int(input())
c=a+b
print(c)

abc

ValueError: invalid literal for int() with base 10: 'abc'

 ### sum of first n natural numbers

In [19]:
n=int(input())
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
print(sum)

6
21

### first n natural numbers

In [20]:
n=int(input())
i=1
while(i<=n):
    print(i)
    i=i+1

5
1
2
3
4
5

### prime or not

In [7]:
n=int(input())
i=2
flag=False
while(i<n):
    if(n%i==0):
        flag=True
    i=i+1
if (flag):
    print(" n is not prime")
if not(flag):
    print("n is prime")

6
 n is not prime

### print prime numbers uto n

In [3]:
n=int(input())
i=2
while(i<=n):
    k=2
    flag=False
    while(k<i):
        if (i%k==0):
            flag=True
        k=k+1
    if not(flag):
        print(i)
    i=i+1

46
2
3
5
7
11
13
17
19
23
29
31
37
41
43

### print even numbers btwn 1 and n both inclusive

In [2]:
n=int(input())
i=1
while(i<=n):
    if(i%2==0):
        print(i)
    i=i+1

7
2
4
6

### sum of even numbers

In [5]:
n=int(input())
i=2
sum=0
while(i<=n):
    if(i%2==0):
        sum=sum+i
    i=i+1
print(sum)

8
20

### reverse of a number

In [6]:
n=int(input())
rev=0
while(n!=0):
    m=n%10
    rev=rev*10+m
    n=n//10
print(rev)

1234
4321

In [2]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print("*",end="")
        j=j+1
    i=i+1
    print()

4
****
****
****
****

In [7]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print("*",end="1")
        j=j+1
    print()
    i=i+1

2
*1*1
*1*1

In [8]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print("4",end="")
        j=j+1
    i=i+1
    print()

5
44444
44444
44444
44444
44444

In [9]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(i,end="")
        j=j+1
    i=i+1
    print()

4
1111
2222
3333
4444

In [10]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(j,end="")
        j=j+1
    i=i+1
    print()

5
12345
12345
12345
12345
12345

In [11]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(n-j+1,end="")
        j=j+1
    i=i+1
    print()

5
54321
54321
54321
54321
54321

In [13]:
n=int(input())
i=1
while(i<=n):
    j=1
    p=i
    while(j<=n):
        print(p,end="")
        j=j+1
        p=p+1
    i=i+1
    print()

5
12345
23456
34567
45678
56789

In [14]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i,end="")
        j=j+1
    i=i+1
    print()

5
1
22
333
4444
55555

In [15]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1
    i=i+1
    print()

5
1
12
123
1234
12345

In [18]:
n=int(input())
i=1
p=1
while(i<=n):
    j=1
    while(j<=i):
        print(p,end="")
        j=j+1
        p=p+1
    i=i+1
    print()

5
1
23
456
78910
1112131415

In [21]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(chr(64+i),end="")
        j=j+1
    i=i+1
    print()

4
AAAA
BBBB
CCCC
DDDD

In [22]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(chr(64+j),end="")
        j=j+1
    i=i+1
    print()

4
ABCD
ABCD
ABCD
ABCD

In [23]:
n=int(input())
i=1
while(i<=n):
    j=1
    p=i
    while(j<=n):
        print(chr(64+p),end="")
        j=j+1
        p=p+1
    i=i+1
    print()

4
ABCD
BCDE
CDEF
DEFG

In [24]:
n=int(input())
i=1
p=1
while(i<=n):
    j=1
    while(j<=n):
        print(chr(64+p),end="")
        j=j+1
        p=p+1
    i=i+1
    print()

4
ABCD
EFGH
IJKL
MNOP

In [26]:
print(ord('A'))

65

In [28]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n-i+1):
        print("*",end="")
        j=j+1
    i=i+1
    print()

4
****
***
**
*

In [32]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        if(j<=n-i):
            print(" ",end="")
        else:
            print("*",end="")
        j=j+1
    i=i+1
    print()

4
   *
  **
 ***
****

In [ ]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n):
        if(j<=n-i):
            print(" ",end="")
        else:
            print("*",end="")
        j=j+1
    i=i+1
    print()

In [33]:
n=int(input())
i=1
while(i<=n):
    s=1
    while(s<=n-i):
        print(" ",end="")
        s=s+1
    j=1
    while(j<=i):
        print(j,end="")
        j=j+1
    j=i-1
    while(j>=1):
        print(j,end="")
        j=j-1
    i=i+1
    print()

4
   1
  121
 12321
1234321

In [34]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n-i+1):
        print(i,end="")
        j=j+1
    i=i+1
    print()

4
1111
222
33
4

In [35]:
n=int(input())
i=1
while(i<=n):
    j=1
    while(j<=n-i+1):
        print(j,end="")
        j=j+1
    i=i+1
    print()

4
1234
123
12
1

In [36]:
n=int(input())
for i in range(n+1):
    print(i)

6
0
1
2
3
4
5
6

In [37]:
3in[0,1,2,3]

True

In [43]:
s='kavya'
for c in(s):
    print(c)

k
a
v
y
a

### printing natural num using for loop

In [46]:
n=int(input())
for i in  range(1,n+1,1):
    print(i)

4
1
2
3
4

In [48]:
n=int(input())
for i in range(1,n+1):
    if(i%2==0):
        print(i)

8
2
4
6
8

In [51]:
n=int(input())
sum=0
for i in range(1,n+1):
    if (i%2==0):
        sum=sum+i
print(sum)

6
12

In [53]:
n=int(input())
flag=False
for i in range(2,n):
    if(n%i==0):
        flag=True
if(flag):
    print("not prime")
if not(flag):
    print("prime")

7
prime

In [56]:
n=int(input())
for i in range(2,n+1):
    j=2
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i)

8
2
3
5
7

In [6]:
n=int(input())
for i in range(1,n+1):
    for s in range(1,n-i):
        print(" ",end=" ")
    for j in range(i,2*i,1):
        print(j,end=" ")
    for j in range(2*i-2,i-1,-1):
        print(j,end=" ")
    print()

4
    1
  2 3 2
3 4 5 4 3
4 5 6 7 6 5 4

In [7]:
for i in range(1,5):
    if(i==3):
        continue
    print(i)

1
2
4

In [10]:
def fact(n):
    n_fact=1
    for i in range(1,n+1):
        n_fact=n_fact*i
    return(n_fact)

In [13]:
a=fact(5)
print(a)

120

In [14]:
a=fact(4)
a

24

In [17]:
def fact(n):
    n_fact=1
    for i in range(1,n+1):
        n_fact=n_fact*i
    return(n_fact)
n=int(input())
r=int(input())
nfact=fact(n)
rfact=fact(r)
ans=nfact/rfact
ans

4
2

12.0

In [20]:
def fact(n):
    n_fact=1
    for i in range(1,n+1):
        n_fact=n_fact*i
    return(n_fact)
n=int(input())
r=int(input())
nfact=fact(n)
rfact=fact(r)
nrfact=fact(n-r)
ans=nfact//(rfact*nrfact)
ans

9
7

36

In [21]:
def add(a,b):
    c=a+b
    return(a+b)

In [27]:
b=int(input())
a=int(input())
c=add(a,b)
c

4
7

11

In [31]:
def prime(a):
    for i in range(2,a):
        if(a%i==0):
            return(False)
    else:
        return(True)

In [33]:
c=prime(7)
c

True

In [6]:
def prime(n):
    for i in range(2,n+1):
        for j in range(2,i):
            if(i%j==0):
                break
        else:
            print(i)

In [7]:
c=prime(9)
c

2
3
5
7

In [11]:
a=10
b=10
def f1():
    b=12
    print(b)
    print(a*b)
f1()

12
120

In [12]:
a=10
b=10
def f1():
    b=12
    print(b)
print(a*b)
f1()

100
12

In [13]:
a=10
b=10
def f1():
    b=12
    print(b)
print(a)
f1()

10
12

### determine a number is even or odd

In [2]:
n=int(input())
if(n%2==0):
    print("n is even")
else:
    print("n is odd")

7
n is odd

### determine if both numbers are greater than 10

In [5]:
a=int(input())
b=int(input())
c=a>10
d=b>10
if(c and d):
    print("both greater than 10")
else:
    print("both are not greater than 10")

1
2
both are not greater than 10

### determine both a is greater than b and c

In [7]:
a=int(input())
b=int(input())
c=int(input())
if (a>b and a>c):
    print(" a is greater")
else:
    print("a is not greater")

6
7
4
a is not greater

### finding largest among three numbers

In [13]:
a=int(input())
b=int(input())
c=int(input())
if (a>=b and a>=c):
    print("a is greater")
elif(b>=a and b>=c):
    print("b is greater")
else:
    print("c is greater")

10
10
10
a is greater

### sum of n natural numbers

In [17]:
n=int(input())
sum=0
i=1
while(i<=n):
    sum=sum+i
    i=i+1
print(sum)

7
28

### print first n natural numbers

In [18]:
n=int(input())
i=1
while(i<=n):
    print(i)
    i=i+1

6
1
2
3
4
5
6

In [23]:
n=int(input())
i=2
while(i<n):
    if(n%i==0):
        print("n is not prime")
    else:
        print('n is prime')
    i=i+1
    break

8
n is not prime

In [3]:
n=int(input())
k=2
while(k<=n):
    i=2
    flag=False
    while(i<k):
        if (k%i==0):
            flag=True
        i=i+1
    if not(flag):
        print(k)
    k=k+1

8
2
3
5
7