In [1]:
li=[]
newlist=[x for x in range(0,10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
li=[]
newlist=[x for x in range(0,10) if x%2==0]
print(newlist)

[0, 2, 4, 6, 8]

In [19]:
import timeit
def fun1():
    li=[]
    newlist=[x for x in range(0,10) ]
    print(newlist)
def fun2():
    li=[]
    for x in range(10):
        li.append(x)
    print(li)

fun1()
fun2()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
stdnts=['kavya','navya','santhu']
marks=[23,43,21]
d={}
for i,j in zip(stdnts,marks):
    d[i]=j
print(d)

{'kavya': 23, 'navya': 43, 'santhu': 21}

In [22]:
stdnts=['kavya','navya','santhu']
marks=[23,43,21]
d={k:v for (k,v) in zip(stdnts,marks)}
print(d)

{'kavya': 23, 'navya': 43, 'santhu': 21}

In [25]:
str1 = 'GeeksforGeeks'
 
# lambda returns a function object
rev_upper = lambda string: string.upper()[::-1]
print(rev_upper(str1))

SKEEGROFSKEEG

In [34]:
li=[lambda y=x:y*2 for x in range(10)]
for item in li:
    print(item())

0
2
4
6
8
10
12
14
16
18

In [31]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
 
# iterate on each lambda function
# and invoke the function to get the calculated value
for item in is_even_list:
    print(item())

10
20
30
40

###  Filter all people having age more than 18, using lambda and filter() function

In [36]:
li=[34,12,34,8,23,66,17]
newlist=list(filter(lambda x :(x>18),li))
print(newlist)

[34, 34, 23, 66]

###  Transform all elements of a list to upper case using lambda and map() function and reverse elements

In [39]:
stdnts=['kavya','navya','santhu']
new=list(map(lambda x:x.upper()[::-1],stdnts))
print(new)

['AYVAK', 'AYVAN', 'UHTNAS']

###  Transform all elements of a list to upper case using lambda and map() function

In [ ]:
stdnts=['kavya','navya','santhu']
new=list(map(lambda x:x.upper(),stdnts))
print(new)