### tuples

In [5]:
a=(1,2.3,"hello",True)
print(a)
print(a)

(1, 2.3, 'hello', True)
(1, 2.3, 'hello', True)

### without paranthesis and with comas separated(tuple packing)

In [7]:
a=1,5,'hello'
print(a)
print(type(a))

(1, 5, 'hello')
<class 'tuple'>

### comma separated variables assigned to comma separated elements

In [9]:
a,b,c='kavya','navya','santhu'
print(a)
print(c)
print(a,b,c)

kavya
santhu
kavya navya santhu

In [10]:
tuple('kavya')

('k', 'a', 'v', 'y', 'a')

### showing class string not tuple even present in paranthesis

In [11]:
a=('kavya')
print(type(a))

<class 'str'>

### trailing comma to create a tuple with single element

In [12]:
a=('kavya',)
print(a)
print(type(a))

('kavya',)
<class 'tuple'>

### Accessing elements of a tuple

In [15]:
a=(1,6,'kavya',2.7,'hyd','c')
print(a)
print(a[1])
print(a[-3])
print(a[0])
li(li.index)

(1, 6, 'kavya', 2.7, 'hyd', 'c')
6
2.7
1

### Slicing of a tuple

In [21]:
a=(1,6,'kavya',2.7,'hyd','c')
print(a[1:3])
print(a[:])
print(a[::-1])
print(a[2:])
print(a[1:4:2])

(6, 'kavya')
(1, 6, 'kavya', 2.7, 'hyd', 'c')
('c', 'hyd', 2.7, 'kavya', 6, 1)
('kavya', 2.7, 'hyd', 'c')
(6, 2.7)

### Changes to a tuple

In [23]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
print(a)#However, you cannot change any single element in the tuple.
a[0][1]="kavya"#Though, you can change items from any mutable object in the tuple.
print(a)

([1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c')
([1, 'kavya', 3], 1, 6, 'kavya', 2.7, 'hyd', 'c')

In [27]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
del(a)#If you want to delete a tuple entirely, such an operation is possible. The keyword used is del

### Tuples functions

In [28]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
for i in range(len(a)):
    print(a[i])#We can use loops to iterate through a tuple: For example, if we want to print allthe elements in the tuple. We can run the following loop

[1, 2, 3]
1
6
kavya
2.7
hyd
c

In [30]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
for i in a:
    print(i)

[1, 2, 3]
1
6
kavya
2.7
hyd
c

In [33]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
print(1 in a)
6 in a

True

True

###  Concatenation

In [37]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
b=(7,2.5,'hy')
print(a+b)

([1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c', 7, 2.5, 'hy')

In [38]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
b=(7,2.5,'hy')
d=(a,b)## Here d is a nested tuple which is formed from 2 different tuples.
print(d)

(([1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c'), (7, 2.5, 'hy'))

In [39]:
a=([1,2,3],1,6,'kavya',2.7,'hyd','c')
print(a*3)

([1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c', [1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c', [1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c')

### Min and max of tuple

In [49]:
a=(2,3,1.3,6,2.7,)
c=min(a)
print(min(a))
print(a.index(c))## Even though the data types are different , however since a float can be
#compared to a floating point value, hence this operation does not give an
#error.

1.3
2

### Converting a list to a tuple

In [54]:
a=[[1,2,3],1,6,'kavya',2.7,'hyd','c']
print(a)
print(type(a))
d=tuple(a)
d[0][2]='hi'#we can change elements of list as tuple changed to list
print(d)
print(type(d))

[[1, 2, 3], 1, 6, 'kavya', 2.7, 'hyd', 'c']
<class 'list'>
([1, 2, 'hi'], 1, 6, 'kavya', 2.7, 'hyd', 'c')
<class 'tuple'>

In [55]:
a=(2,3,1.3,6,2.7)
d=sum(a)
print(d)

15.0

### Task 1: Giving a variable number of inputs and printing them:

In [60]:
def print_num(a,b,*more):
    print(a)
    print(b)
    print(*more)
print_num(3,6,2,4,7,1)

3
6
2 4 7 1

### Task 2: Finding the sum of a variable number of inputs:

In [62]:
def input(a,b,*c):
    sum=a+b
    for i in c:
        sum=sum+i
    print(sum)
input(1,3,6,8,5,)

23

In [63]:
#Tuples help us in returning multiple values from a single function.
def sum_diff(a,b):
    return (a+b),(a-b)
sum_diff(2,3)

(5, -1)

In [70]:
def sum_diff(a,b,):
    return (a+b),(a-b)
sum_diff(2,3,)

(5, -1)

### dictionary

### creating a dictionary

In [79]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
print(dic)
print(dic[1])
print(dic['red'])

{1: 'kavya', 'red': 'color', 2.3: 'decimal'}
kavya
color

### list to dictionary(typecasting)

In [81]:
list=[(1,'kavya'),(5,6.7),('hello',9)]
print(list)#● The list must contain only tuples.
# These tuples must be of length 2.
# The first element in these tuples must be the key and the second element is the corresponding value.
dic=dict(list)
print(dic)

[(1, 'kavya'), (5, 6.7), ('hello', 9)]
{1: 'kavya', 5: 6.7, 'hello': 9}

### duplicate a dictionary using inbuilt .copy() method

In [83]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic1=dic.copy()
print(dic1)
print(dic)

{1: 'kavya', 'red': 'color', 2.3: 'decimal'}
{1: 'kavya', 'red': 'color', 2.3: 'decimal'}

In [90]:
d1= dict.fromkeys(["abc",1,"two"],['hy',1])
print(d1)

{'abc': ['hy', 1], 1: ['hy', 1], 'two': ['hy', 1]}

### access elements using inbuilt 'get' function

In [94]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
print(dic.get(1))
print(dic.get('red'))#A very unique feature about this method is that , incase the desired key is not present in
#the dictionary , it won’t throw an error or an exception. It would simple return None.
print(dic.get(7))

kavya
color
None

In [95]:
#We can make use of this feature in another way. Say we want the method to do the
#following action: If the key is present in the dictionary then return the value corresponding
#to the key. In case the key is not present, return a custom desired value ( say 0 ).
dic={1:"kavya",'red':'color',2.3:'decimal'}
print(dic.get(1,0))
print(dic.get(8,0))
print(dic.get(8,'oops'))

kavya
0
oops

### Accessing all the available keys in the dictionary:

In [96]:
#This can be done using the method .keys(). This method returns all the different keys
#present in the dictionary in the form of a list.
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic.keys()

dict_keys([1, 'red', 2.3])

### accessall the values in a dictionary

In [97]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic.values()

dict_values(['kavya', 'color', 'decimal'])

### accessing all the items in the dictionary

In [98]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic.items()

dict_items([(1, 'kavya'), ('red', 'color'), (2.3, 'decimal')])

### Checking if the dictionary contains a given key

In [101]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
print(1 in dic)
print(8 in dic)

True
False

### Iterating over a Dictionary

In [102]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
for t in dic:
    print(t)

1
red
2.3

In [103]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
for t in dic:
    print(t,dic[t])

1 kavya
red color
2.3 decimal

In [104]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
for t in dic:
    print(dic[t])

kavya
color
decimal

### adding elements in a dictionary

In [106]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic[2.3]='game'
dic['new']='hi'
print(dic)

{1: 'kavya', 'red': 'color', 2.3: 'game', 'new': 'hi'}

### concatenation of dictionary

In [109]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic2={1:'mix',6:'num','august':'month'}
dic.update(dic2)
dic2.update(dic)
print(dic)
print(dic2)

{1: 'mix', 'red': 'color', 2.3: 'decimal', 6: 'num', 'august': 'month'}
{1: 'mix', 6: 'num', 'august': 'month', 'red': 'color', 2.3: 'decimal'}

### deleting an entry

In [112]:
dic={1:"kavya",'red':('color','theme',3),2.3:'decimal'}
dic.pop('red')

('color', 'theme', 3)

### deleting all the entries

In [113]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
dic.clear()
print(dic)

{}

### delete entire dictionary using del method same as list,tuple

In [117]:
dic={1:"kavya",'red':'color',2.3:'decimal'}
print(dic)
del(dic)
print(dic)#error since it was deleted

{1: 'kavya', 'red': 'color', 2.3: 'decimal'}

NameError: name 'dic' is not defined

In [125]:
def string_words(string, k):
    # Converting the input string to a list
    myList= string.split()
    # Initialise an empty dictionary
    dict= {}
    # Iterate through the list in order to find frequency
    for i in myList:
        dict[i]=dict[i]+1
    else:
        dict[i]=1
# Loop for printing the keys with frequency as k
    for t in dict:
        if dict[t]==k:
            print(t)
string_words(2,2)

AttributeError: 'int' object has no attribute 'split'

### set

#### creating a set

In [126]:
days=set(['mon','tue','wed','thu','fri','sat','sun'])
months={'jan','feb','mar'}
dates={1,2,3,4,5}
print(days)
print(months)
print(dates)

{'tue', 'sat', 'mon', 'wed', 'thu', 'fri', 'sun'}
{'jan', 'feb', 'mar'}
{1, 2, 3, 4, 5}

In [132]:
dic={1:5,2:'none',3:6}
print(dic)

{1: 5, 2: 'none', 3: 6}

### Access values in a set

In [133]:
set={4,6,8,'kavya',7}
#We cannot access individual values in a set as there is no specific order of elements in a set.
#We can only access all the elements together as
for t in set:
    print(t)

kavya
4
6
7
8

### Adding items to a set

In [134]:
set={4,6,8,'kavya',7}
print(set)
set.add('hi')
print(set)

{'kavya', 4, 6, 7, 8}
{'kavya', 4, 6, 7, 8, 'hi'}

In [135]:
set={4,6,8,'kavya',7}
set.discard(8)
print(set)

{'kavya', 4, 6, 7}

In [139]:
a=set(['ka','vy'])
print(a)

TypeError: 'set' object is not callable

### union of sets

In [140]:
set1={4,6,8,'kavya',7}
set2={2,6,8,'hi','august'}
set3=set1|set2
print(set3)

{'kavya', 2, 4, 6, 7, 8, 'august', 'hi'}

### intersection of sets

In [142]:
set1={4,6,8,'kavya',7}
set2={2,6,8,'hi','august'}
set3=set1&set2
print(set3)

{8, 6}

### difference of sets

In [143]:
set1={4,6,8,'kavya',7}
set2={2,6,8,'hi','august'}
set3=set1-set2
print(set3)

{'kavya', 4, 7}

In [144]:
set1={4,6,8,'kavya',7}
set2={2,6,8,'hi','august'}
set3=set2-set1
print(set3)

{2, 'august', 'hi'}

In [146]:
set1={4,6,8,'kavya',7}
set2={2,6,8,'hi','august'}
set3=set2-set2
print(set3)

set()

### compare sets

In [149]:
DaysA = {"Mon","Tue","Wed"}
DaysB = {"Mon","Tue","Wed","Thu","Fri","Sat","Sun",'kavya'}
SubsetRes = DaysA <= DaysB #Check Subset
SupersetRes = DaysB >= DaysA #Check Superset
print(SubsetRes)
print(SupersetRes)

True
True